archivesspace.*
clustering/
COPYING
data/
derby.log
docs/
gems/
launcher/
lib/
/locales/
plugins/cat_in_a_box/
plugins/lcnaf/
plugins/newrelic/
plugins/refid_rules/
reports/
scripts/
stylesheets/
wars/
config/
README.md
plugins/aspace-import-excel/Gemfile.lock