
<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>
    <!-- promo content -->
    <div id="promo" class="container-fluid" style="text-align: center;">
  <h2 class="as-c-h2--margin-bottom">Browse by <%= t('repository._plural').html_safe %> </h2>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <a href="/repositories/2">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-manuscripts-collection.jpg" alt="Robert Sparks Walker diary, 1943. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Manuscripts</h3>

            </div>

          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/repositories/4">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-university-archives-collection.jpg" alt="University of Tennessee Homecoming pamphlet, 1974. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>University Archives</h3>



            </div>

          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/repositories/3">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-chatt-history-collection.jpg" alt="Lookout Mountain, Chattanooga, Tenn. postcard, undated, by Adolph Selige Publishing Co. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Chattanooga History Collections</h3>



            </div>

          </div>

        </a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <a href="/search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=Art&limit=resource&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Artists&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Authors&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Illustration&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Illustrators&field%5B%5D=&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Literature&field%5B%5D=&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Theater&field%5B%5D=&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Music&field%5B%5D=&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-arts-and-literature-collection.jpg" alt="Dutch Interiors poetry postcard by Jane Kenyon with relief engraving by Barry Moser, 1996. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Arts and Literature</h3>



            </div>

          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=%22Natural+history%22&limit=&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Nuclear+energy%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Tennessee+Valley+Authority%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-environmentalism-collection.jpg" alt="Hill landscape painting, undated, by Emma Bell Miles. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Environmentalism</h3>



            </div>

          </div>

        </a>

      </div>
      <div class="col-md-4">
        <a href="/search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=%22Brainerd+Mission%22&limit=resource&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Indians+of+North+America%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Cherokee&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-native-american-collection.jpg" alt="Pre-Columbian ceramic vessel. Courtesy of the Chattanooga Public Library and the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Native Americans</h3>



            </div>

          </div>
        </a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <a href="/search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=Government&limit=resource&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Politicians&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Politics&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Political+cartoons%22&field%5B%5D=&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-politics-and-government.jpg" alt="'Officials Forced To Resort To Fire Hose As City Has Worst Racial Disturbance' newspaper clipping, 1960 February 25, by the Chattanooga News-Free Press. Courtesy of the Chattanooga Public Library and the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Politics and Government</h3>



            </div>

          </div>
        </a>

      </div>
      <div class="col-md-4">
        <a href="/search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=Segregation&limit=resource&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Civil+rights+movements%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Black+Power%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Social+justice%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Gun+control%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-social-justice-collection.jpg" alt="placeholder image">

            <div class="caption">

              <h3>Social Justics</h3>



            </div>

          </div>

        </a>

      </div>
      <div class="col-md-4">
        <a href="search?utf8=%E2%9C%93&op%5B%5D=&q%5B%5D=Religion&limit=resource&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=Church&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&op%5B%5D=OR&q%5B%5D=%22Religious+life+and+customs%22&field%5B%5D=subjects_text&from_year%5B%5D=&to_year%5B%5D=&commit=Search">
          <div class="thumbnail as-c-thumbnail"><img src="/assets/images/as-religion-collection.jpg" alt="Woman's baptism photograph, undated, photographed by Mary Vance. Courtesy of the University of Tennessee at Chattanooga Special Collections.">

            <div class="caption">

              <h3>Religion</h3>



            </div>

          </div>

        </a></div>
    </div>
  </div>
</div>

