<div id="footer" class="row">
  <div class="col-md-12">
    <p class="footer-items">
      <a href="<%= AppConfig[:frontend_url] %>">Staff Interface</a>
      | Powered by
      <a href="http://archivesspace.org" target="_blank">ArchivesSpace</a>
      | v2.5.
    </p>
  </div>
</div>
