<div id="footer" class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items"><a href="<%= AppConfig[:frontend_proxy_url] %>">Staff Interface</a>
         | Powered by <a href="http://archivesspace.org">ArchivesSpace.org</a>
         | <%= ASConstants.VERSION %>
         | <% if AppConfig[:feedback_url] && !AppConfig[:feedback_url].blank? %><a id='aspaceFeedbackLink' href='<%= AppConfig[:feedback_url]%>' target='_blank'>Send Feedback or Report a Problem</a><% end %></p>
     </div>
  </div>
</div>
<script type="text/javascript" src="/assets/datetimepicker.full.js"></script>
<script type="text/javascript" src="/assets/utc.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
